#clock
  .hour  
    .min
    .min
    .min
    .min
    .min
  .hour
    .min
    .min
    .min
    .min
    .min
  #alarm  
  #min
  #hour
  #sec
  ol
    li
    li
    li
    li
    li
    li
    li
    li
    li
    li
    li
    li